@model WebNoVi.ModelView.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use otro servicio para iniciar sesion.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                No hay servicios externos de autenticacion configurados. Lea <a href="https://go.microsoft.com/fwlink/?LinkId=403804">Este artículo</a>
                para obtener detalles acerca de como configurar esta aplicacion ASP.NET para que permita inicar sesion con servicios externos.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicia sesion usando tu cuenta de @p.Caption ">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
