@model IEnumerable<WebNoVi.Models.Comment>

@{
    ViewBag.Title = "Cometarios";
}

<h2>Comenentarios</h2>

<p>
    @Html.ActionLink("Crear neuevo Comentario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Story.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Story.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        @if (Request.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CommentId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CommentId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CommentId })
            </td>
        }
        </tr>
}

</table>
