@model WebNoVi.Models.Service

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>
        <dd class="form-group">
            <img width="100" src="@Url.Action("getImage", "Services", new { id=Model.ServiceId })" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ServiceId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver al Listado", "Index", new { }, new { @class = "btn btn-success" })
</p>
