@model IEnumerable<WebNoVi.Models.Service>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Lista de servicios</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Agregar servicio", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume)
            </td>
            <td>
                <img width="100" src="@Url.Action("getImage", "Services", new { id=item.ServiceId })" />
                @*@Html.DisplayFor(modelItem => item.Image)*@
            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ServiceId }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.ServiceId })
                </td>
            }
        </tr>
    }

</table>
