<!DOCTYPE html>
<html
      lang="es-ar">
<head>
    <title>@ViewBag.title - CeNoVi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Template.css" />
    <link rel="stylesheet" href="~/Content/accessbutton.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bigfishtv-turret/4.0.0/turret.min.css" crossorigin="anonymous">


</head>
<body class="">

    <div id="accbut" class="buttonacctsidebar">
        <a  href="javascript:void(0)" onclick="openNav()">
            <img src="~/Images/accesibilidad.png" width="100" height="100" alt=" a inicio" />
        </a>


        <div id="mySideAcc" class="rightsideAcc">
            <a href="javascript:void(0)" id="closemySideAcc" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="javascript:void(0)" id="btnFuenteNormal" class="active-accesibility"  onclick="añadirFuenteNormal()">Fuente normal</a>
            <a href="javascript:void(0)" id="btnFuenteGrande" onclick="añadirFuenteGrande()">Fuente grande</a>
            <a href="javascript:void(0)" id="btnHighContrast" onclick="highContrast()">Contraste Negro</a>
            <a href="javascript:void(0)" id="btnLowContrast" onclick="lowContrast()">Contraste Blanco</a>

            <a href="#">Links en color amarillo</a>
            <a href="#">Links de color normal</a>
            <a href="#">Modo en escala de grises</a>
            <a href="#">Modo de colores regulares</a>
            <a href="#">Links subrayados</a>
            <a href="#">Links por defecto</a>
        </div>
    </div>

    <nav class="w3-sidebar w3-small w3-hide-small w3-center" style="color:whitesmoke">

        <a href="@Url.Action("Index", "Home")" id="CeNoVii" title="Inicio - CeNoVi">
            <img src="@Url.Content("~/Images/cenovi.png")" style="width:100%">
        </a>
        <a href="#sobrenosotros" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/SobreNosotros.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-users fa-3x"></i>
            <p>Nosotros</p>
        </a>
        <a href="#calendario" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/Calendario.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-calendar fa-3x"></i>
            <p>Eventos</p>
        </a>
        <a href="#herramientas" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/HerryApps.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-toolbox fa-3x"></i>
            <p>Apps</p>
        </a>
        <a href="#voluntariado" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/voluntariado.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-coins fa-3x"></i>
            <p>Donar</p>
        </a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/contactanos.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-mail-bulk fa-3x"></i>
            <p>Contacto</p>
        </a>
    </nav>

    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="@Url.Action("Index", "Home")" id="CeNoVi" title="Inicio - CeNoVi" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-home fa-2x"></i>
            </a>
            <a href="#sobrenosotros" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-user fa-2x"></i>
            </a>
            <a href="#calendario" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-calendar fa-2x"></i>
            </a>
            <a href="#herramientas" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-toolbox fa-2x"></i>
            </a>
            <a href="#voluntariado" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-coins fa-2x"></i>
            </a>
            <a href="#contact" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-mail-bulk fa-2x"></i>
            </a>
        </div>
    </div>

    @*<div class="navbar sidebr">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("WebNovi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Historias", "Index", "Stories")</li>
                        <li>@Html.ActionLink("Noticias", "Index", "News")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

    <div class="w3-padding-large" id="main">
        <div id="content">
            @RenderBody()
        </div>

        <footer>
            <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                <div class="w3-third w3-section">
                    <a href="https://twitter.com/">
                        <img class="fa fa-twitter w3-hover-opacity" src="~/Images/twitter.png" style="width:25%" />
                    </a>
                    <a href="https://facebook.com/">
                        <img class="fa fa-facebook-official w3-hover-opacity" src="~/Images/facebook.png" style="width:25%" />
                    </a>
                    <p>&copy; 2018 - @DateTime.Now.Year Rubik Solutions</p>
                </div>

                <div class="w3-third w3-section" style="display:block;margin-left:auto;margin-right:auto">
                    @Html.Partial("_LoginPartial")
                </div>

                <div class="w3-third w3-section">
                    <p>Desarrollado por:</p>
                    <img src="~/Images/rubik.jpg" />
                </div>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        //document.getElementById("accbut").addEventListener("click",openNav);
        function openNav() {
            var e = document.getElementById("mySideAcc");
            if (e.style.width == '250px') {
                e.style.width = '0px';
            }
            else {
                e.style.width = '250px';
            }
                   }

        //document.getElementById("closemySidenav").addEventListener("click",closeNav);
        function setActiveAccesibility() {
            if (document.querySelector('#content').contains(document.querySelector('.highContrast'))) {
                document.querySelector('body').classList.add('w3-black');
            } else {
                document.querySelector('body').classList.remove('w3-black');
            }
           
            if (document.querySelector('#content').contains(document.querySelector('.fuentegrande'))) {
                document.getElementById("btnFuenteGrande").classList.add("active-accesibility");
                document.getElementById("btnFuenteNormal").classList.remove("active-accesibility");
            }
            else {
                document.getElementById("btnFuenteGrande").classList.remove("active-accesibility");
                document.getElementById("btnFuenteNormal").classList.add("active-accesibility");
            }
            if (document.querySelector('#content').contains(document.querySelector('.highContrast'))) {
                document.getElementById("btnHighContrast").classList.add("active-accesibility");
                document.getElementById("btnLowContrast").classList.remove("active-accesibility");
            }
            else {
                document.getElementById("btnHighContrast").classList.remove("active-accesibility");
                document.getElementById("btnLowContrast").classList.add("active-accesibility");
            }
            closeNav();
        }

        function closeNav() {
            document.getElementById("mySideAcc").style.width = "0";
        }
        function añadirFuenteGrande() {
            document.getElementById("content").classList.add("fuentegrande");
            setActiveAccesibility();
        }
        function añadirFuenteNormal() {
            document.getElementById("content").classList.remove("fuentegrande");
            setActiveAccesibility();
        }
        function highContrast() {
            document.getElementById("content").classList.add("highContrast");
            setActiveAccesibility();
        }
        function lowContrast() {
            document.getElementById("content").classList.remove("highContrast");
            setActiveAccesibility();
        }
        
        $(document).ready(function () {
            $("a.añadir").click(function () {
                $("p").addClass("test");
            });
            $("a.quitar").click(function () {
                $("p").removeClass("test");
            });
            $('.nav-button').click(function (event) {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    window.location.hash = hash;
                });
            });
            //$(".buttonacctsidebar").click(function openNav() {
            //    document.getElementById("mySidenav").style.width = "250px";
            //});
            //$(".closebtn").click(function closeNav() {
            //    document.getElementById("mySidenav").style.width = "0px";
            //});

            //fuentes
            //$("#btnFuenteGrande").click(function fuenteGrande() {
            //    $(".contenido").addClass("big-font");
            //});
            //$("#btnFuenteNormal").click(function fuenteNormal() {
            //    $(".contenido").removeClass("big-font");
            //});
            //$("#btnHighContrast").click(function highContrast() {
            //    $(".contenido").addClass("body");
            //});
        });
            
        
    </script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>

</html>
