<!DOCTYPE html>
<html
      lang="es-ar">
<head>
    <title>@ViewBag.title - CeNoVi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Template.css" />
    <link rel="stylesheet" href="~/Content/accessbutton.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bigfishtv-turret/4.0.0/turret.min.css" crossorigin="anonymous">


</head>
<body class="">

    <div id="accbut" class="buttonacctsidebar">
        <a href="javascript:void(0)" onclick="openNav()">
            <img src="~/Images/accesibilidad.png" width="70" height="70" alt=" a inicio" />
        </a>


        <div id="mySideAcc" class="rightsideAcc">
            <a href="javascript:void(0)" id="closemySideAcc" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="javascript:void(0)" id="btnFuenteNormal" class="active-accesibility" onclick="añadirFuenteNormal()">Fuente normal</a>
            <a href="javascript:void(0)" id="btnFuenteGrande" onclick="añadirFuenteGrande()">Fuente grande</a>
            <a href="javascript:void(0)" id="btnHighContrast" onclick="highContrast()">Contraste negro</a>
            <a href="javascript:void(0)" id="btnLowContrast" onclick="lowContrast()">Contraste blanco</a>

            @*<a href="#">Links en color amarillo</a>
                <a href="#">Links de color normal</a>
                <a href="#">Modo en escala de grises</a>
                <a href="#">Modo de colores regulares</a>
                <a href="#">Links subrayados</a>
                <a href="#">Links por defecto</a>*@
        </div>
    </div>

    <nav class="w3-sidebar w3-small w3-hide-small w3-center" style="color:whitesmoke">

        <a href="@Url.Action("Index", "Home")" id="CeNoVii" title="Inicio - CeNoVi">
            <img src="@Url.Content("~/Images/cenovi.png")" style="width:100%">
        </a>
        <a href="#us" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity" style="color:#00695c">
            @*<img src="~/Images/SobreNosotros.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-users fa-2x"></i>
            <p>Nosotros</p>
        </a>
        <a href="#events" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/Calendario.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-calendar fa-2x"></i>
            <p>Eventos</p>
        </a>

        <a href="#news" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity" style="color:#00695c">
            @*<img src="~/Images/voluntariado.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-newspaper fa-2x"></i>
            <p>Noticias</p>
        </a>
        <a href="#stories" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/HerryApps.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-user-md fa-2x"></i>
            <p>Vida</p>
        </a>
        <a href="#tools" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity" style="color:#00695c">
            @*<img src="~/Images/HerryApps.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-toolbox fa-2x"></i>
            <p>Herr.</p>
        </a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            @*<img src="~/Images/contactanos.png" style="width:100%" class="fa fa-user w3-xxlarge">*@
            <i class="fas fa-mail-bulk fa-2x"></i>
            <p>Contacto</p>
        </a>
    </nav>

    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="@Url.Action("Index", "Home")" id="CeNoVi" title="Inicio - CeNoVi" class="w3-bar-item w3-button" style="width:16% !important;color:#00695c">
                <i class="fas fa-user fa-2x"></i>
            </a>
            <a href="#events" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-calendar fa-2x"></i>
            </a>
            <a href="#news" class="w3-bar-item w3-button" style="width:16% !important;color:#00695c">
                <i class="fas fa-newspaper fa-2x"></i>
            </a>
            <a href="#stories" class="w3-bar-item w3-button" style="width:16% !important">
                <i class="fas fa-user-md fa-2x"></i>
            </a>
            <a href="#tools" class="w3-bar-item w3-button" style="width:16% !important;color:#00695c">
                <i class="fas fa-toolbox fa-2x"></i>
            </a>
            <a href="#contact" class="w3-bar-item w3-button" style="width:16% !important;color">
                <i class="fas fa-mail-bulk fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="w3-padding-large" id="main">
        <div id="content">
            @RenderBody()
        </div>

        <footer>
            <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                <div class="w3-third w3-section">
                    <a href="https://twitter.com/cenovichaco?lang=es">
                        <img class="fa fa-twitter w3-hover-opacity" src="~/Images/twitter.png" style="width:15%" />
                    </a>
                    <a href="https://www.facebook.com/cenovichaco/">
                        <img class="fa fa-facebook-official w3-hover-opacity" src="~/Images/facebook.png" style="width:15%" />
                    </a>
                    <p>&copy; 2018 - @DateTime.Now.Year Rubik Solutions</p>
                </div>

                <div class="w3-third w3-section" style="display:block;margin-left:auto;margin-right:auto">
                    @Html.Partial("_LoginPartial")
                </div>

                <div class="w3-third w3-section">
                    <p>Desarrollado por:</p>
                    <img src="~/Images/rubik.jpg" />
                </div>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/index.js" type="text/javascript"></script>
</body>

</html>
