@model  WebNoVi.ModelView.IndexSPAView

@{
    ViewBag.Title = "Inicio";
}

<div role="main">

    <h1 class="w3-row w3-center" style="margin-top:1em;"></h1>

    <img src="~/Images/cenovilogo.png" width="815" height="197" style="display:block;margin-left:auto;margin-right:auto" alt="Logo del CENOVI" />
    <br />
    <h5 class="w3-row w3-margin-right"><p id="climasimple"></p></h5>
    <hr>


    <section id="sobrenosotros" class="w3-padding-large w3-content bold-headers">
        <h3>CE.NO.VI.</h3>
        <p>
            El 25 de Julio de 1975 un grupo muy joven de hombres y mujeres no videntes, se reunieron en Resistencia por inicativa del señor Roberto Emilio Toullieux, para ejercer juntos desde la ceguera el derecho supremo de ciudadania, dando nacimiento al Centro Social, Recreativo y Cultural para No Videntes y Ambliopes CE.NO.VI.
            <br />Es la primera organizacion civil sin fines de lucro, de bien publico y de caracter social de la provincia del Chaco, creada, dirigida y administrada por los propios no videntes con filiales en el interior, que asiste a sus pares desde que nacen o adquieren la discapacidad visual, hasta la tercera edad.
            <br />Por la calidad, cantidad y gratuidad de sus servicios, entre los que sobresalen por su excelencia la Editora braile "Roberto Emilio Toulieus" de alta tirada y totalemente computarizada, hacen que el CE.NO.VI. se ubique entre las mejores organizaciones de Latinoamerica en su tipo.
        </p>
        <h4> Nuestros Valores</h4>
        <p>
            El CE.NO.VI. tiene como actividad central y prioritaria la presentacion gratuita de servicios especializados para la poblacion ciega, con dos objetivos basicos:
            <ul>
                <li><span style="font-weight:bold">Respeto a los no videntes</span>, el conseguir su total satisfaccion al lograr su plena integracion social.</li>
                <li><span style="font-weight:bold">Respeto a su entorno</span>, el maximizar su autoestima mediante la contencion adecuada y sostenida de la institucion, aplicando para ello, toda su experiencia para instruir a la familia, amigos, docentes, etc.. en la atencion a las ncesidades propias de cada individuo.</li>
            </ul>
            El CE.NO.VI. es experiencia para nuestros ciegos fundamentada en proporcionar la satisfaccion total mediante el respeto y conocimiento de sus necesidades.
            <br />Es tambien, experiencia para nuestros ciegos fundamentada en proporcionar la satisfaccion total mediante el respeto y conocimiento de sus necesidades.
            <br />Es tambien, experiencia fundamentada en el planteamiento estrategico de la especializacion y profesionalizacion de la gestion institucional. Una avocacion orientada a incrementar la eficiencia y eficacia de la gestion en todos los ambitos.
            <br /> Nuestra institucion tiene un caracter eminentemente familiar que se manifiesta en el gobierno personalizado de cada una de las areas que gestionamos, tratandolos a todos los ciegos como si fueran de nuestra propia familia.
        </p>
        <h4>Objetivos</h4>
        <p>El objetivo de la institucion desde su origen es claro: elevar el nivel economico, laboral, educativo, cultural, espiritual y sociable de las personas ciegas y disminuidas visuales, que impiden a este sector aspirar a mejores condiciones de vida. </p>
        <h4>Equipo</h4>
        <p>
            El CE.NO.VI. cuenta con una estructura jerarquica para la ejecucion de las distintias tareas y servicios, cuya cabeza visible es el Presidente de la Institucion, apoyado por la Comision Directiva quienes son los responsables directos de la buena marcha de la institucion. La Comision Directiva esta compuesta por 19 miembros. 15 pertenecen a la Comision Directiva y 4 a la comision revisadora de Cuentas.
            <br /> <br />Los miembros son electos por la asamblea y duran 2 años en sus mandatos. Se realiza una Asamblea por año en la que se renueva por mitades la Comision Directiva. Un equipo de profesionales formados en diferentes disciplinas, dentro de las Ciencias Educativas, Sociologicas, Psicologicas, Tiñotecnologicas, suman una amplia experiencia en el trabajo de los Ciegos.
            <br /> <br />Se destacan la participacion del voluntariado, que con motivacion altruista encuentran un espacio para volcar sus conocimientos teoricos y metodologicos, a traves del compromiso y la responabilidad con las tareas asignadas en nuestra institucion.
            <br /><br /> El CE.NO.VI. ofrece a todo su personal un entorno de trabajo creativo, estimulante y motivador, impregnado del caracter personal y familiar que forman la base de nuestra filosofia de gestion, con una comunicacion constante de las decisiones estrategicas, que propicia la implicacion en los objetivos de la institucion.
        </p>
        <h4>Expansion Territorial</h4>
        <p>La gran cantidad de niños ciegos y disminuidos visuales del interior de la provincia, que junto a sus padres se esfuerzan y sacrifican, para viajar durante mas de 5 o 6 horas hasta la Sede Central a recibir los servicios que necesitan, y fatigados viajar la misma cantidad de horas de regreso a sus hogares; escuchar insistentemente el reclamo de las fuerzas vivas e Intendentes Municipales de muchos pueblos y parajes, motivó al CE.NO.VI. a emprender la historica decision de incorporar filiales.</p>


        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
            <h2 class="w3-center">Servicios</h2>
            @foreach (var item in Model.Services)
            {
                <div class="w3-third w3-section">
                    <i class="fas fa-universal-access fa-5x"></i>
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h4>
                        @Html.DisplayFor(modelItem => item.Resume)
                    </h4>
                </div>
            }
        </div>
    </section>
    <section id="calendario" class="w3-padding-16 w3-section">
        <h3 class="w3-center">Noticias</h3>
        <table class="table w3-light-grey">

            @foreach (var item in Model.Events)
            {
                <tr>
                    <th class="w3-black">
                        @Html.DisplayFor(modelItem => item.Title) - @Html.DisplayFor(modelItem => item.Date) - @Html.DisplayFor(modelItem => item.Hour)
                    </th>
                    <th class="w3-black"></th>
                </tr>

                <tr>
                    <td>
                        <div>
                            <i class="fab fa-elementor fa-6x w3-left w3-circle w3-margin-right" style="width:80px"></i>
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    </td>
                    <td>
                        <p class="">
                            <a href="@Url.Action("Details", "Details", new { id = item.EventId })" title="ver noticia">
                                <i class="fas fa-arrow-circle-right fa-1x"></i>
                            </a>
                        </p>
                    </td>
                </tr>
            }

        </table>
        <div class="w3-center">
            <a href="@Url.Action("Index", "Events")" title="todos los eventos">
                <i class="fas fa-arrow-circle-right fa-3x"></i>
            </a>
        </div>
    </section>

    <hr />

    <section id="noticias" class="w3-padding-16 w3-section">
        <h3 class="w3-center">Noticias</h3>
        <table class="table w3-light-grey">

            @foreach (var item in Model.News)
            {
                <tr>
                    <th class="w3-black">
                        <p><span class="w3-large w3-margin-right">@Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.Hour)</span> @Html.DisplayFor(modelItem => item.Title)</p>
                    </th>
                </tr>
                <tr class="w3-white">
                    <td>
                        <div class="w3-black">
                            <img src="@Url.Action("getImage", "News", new { id = item.NewId })" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">

                        </div>
                        <div>
                            <p class="">
                                @Html.DisplayFor(modelItem => item.Resume)
                                <a href="@Url.Action("Details", "Details", new { id = item.NewId })" title="ver noticia">
                                    <i class="fas fa-arrow-circle-right fa-1x"></i>
                                </a>
                            </p>
                        </div>


                    </td>
                </tr>
            }

        </table>
        <!-- Testimonials -->
        @*@<img src="@Url.Action("getImage", "News", new { id = item.NewId })" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
                <p><span class="w3-large w3-margin-right">@Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.Hour)</span> @Html.DisplayFor(modelItem => item.Title)</p>
                <p>@Html.DisplayFor(modelItem => item.Resume)</p>
                <a href="@Url.Action("Details", "Details", new { id = item.NewId })" title="ver noticia.">
                <i class="fas fa-arrow-circle-right fa-1x"></i>
            </a><br>*@

        <div class="w3-center">
            <a href="@Url.Action("Index", "News")" title="todas las noticias">
                <i class="fas fa-arrow-circle-right fa-3x"></i>
            </a>
        </div>

    </section>

    <section id="testimonios" class="w3-row w3-center w3-padding-16 w3-section">
        <h3>Testimonios</h3>
        <table class="table w3-light-grey">
            <thead>
                <tr>
                    <th colspan="4">
                        Lista de Testimonios
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Stories[1].Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stories[1].Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stories[1].Hour)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stories[1].Description)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Stories[1].Body)
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Stories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hour)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            @Html.DisplayFor(modelItem => item.Description)
                            <a href="@Url.Action("Details", "Details", new { id = item.StoryId })" title="ver testimonio">
                                <i class="fas fa-arrow-circle-right fa-1x"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Index", "Stories")" title="todos los testimonios">
            <i class="fas fa-arrow-circle-right fa-3x"></i>
        </a>
    </section>
    <section id="herramientas">
        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
            <h2 class="w3-center">Herramientas</h2>
            @foreach (var item in Model.Tools)
            {
                <div class="w3-third w3-section">
                    <i class="fas fa-wrench fa-5x"></i>
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h4>
                        @Html.DisplayFor(modelItem => item.Description)
                    </h4>
                    <h5>
                        <a href="https://@Html.DisplayFor(modelItem => item.Link)">Ir</a>
                    </h5>
                </div>
            }
            <a href="@Url.Action("Index", "Tools")" title="todas las herramientas">
                <i class="fas fa-arrow-circle-right fa-3x"></i>
            </a>
        </div>
    </section>

    <section class="w3-center">
        <div class="w3-row-padding" style="margin:0 -16px" id="contact">
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Voluntariado</li>
                </ul>
                <hr style="width:200px" class="w3-opacity">
                <p>Rellena el formulario para ofrecerse como voluntario:</p>
                @using (Html.BeginForm())
                {
                    <form action="/action_page.php" target="_blank">
                        <p><input id="volutaryName" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Nombre" required name="Name"></p>
                        <p><input id="volutaryEmail" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Email" required name="Email"></p>
                        <p><input id="volutaryPhone" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Telefono" required name="Subject"></p>
                        <p><input id="volutaryMessage" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Mensaje descriptivo" required name="Message"></p>
                        <p>
                            <button id="btnAddVoluntary" class="w3-button w3-black w3-padding-large" type="submit">
                                <i class="fa fa-paper-plane"></i> Enviar
                            </button>
                        </p>
                    </form>
                }
                <div id="volutaryLblMessage"></div>
                <div id="loading">
                    <img src="~/Images/loader.gif" />
                </div>
            </div>

            <!-- End Contact Section -->
            <div class="w3-half ">
                <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Donaciones</li>
                </ul>
                <hr style="width:200px" class="w3-opacity">
                <p>Rellena el formulario para donar y que nos pongamos en contacto:</p>
                @using (Html.BeginForm())
                {
                    <form action="/action_page.php" target="_blank">
                        <p><input id="donationName" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Nombre" required name="Name"></p>
                        <p><input id="donationEmail" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Email" required name="Email"></p>
                        <p><input id="donationAmount" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Monto" required name="Amount"></p>
                        <p><input id="donationMessage" class="w3-input w3-padding-16 w3-black" type="text" placeholder="Mensaje descriptivo" required name="Message"></p>
                        <p>
                            <button id="btnAddDonation" class="w3-button w3-black w3-padding-large" type="submit">
                                <i class="fa fa-paper-plane"></i> Enviar
                            </button>
                        </p>
                    </form>
                }
                <div id="donationLblMessage"></div>
                <div id="loading">
                    <img src="~/Images/loader.gif" />
                </div>
                <!-- End Contact Section -->
            </div>
            <!-- End Grid/Pricing tables -->
        </div>
    </section>
    <section class="w3-center">
        <div class="w3-padding-large w3-content w3-light-grey">
            <h2>Contactanos</h2>
            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Resistencia, Chaco</p>
                <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Telefono: 362-4 444333</p>
                <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: cenovi@gmail.com</p>
            </div><br>
            @using (Html.BeginForm())
            {
                <form action="/action_page.php" target="_blank">
                    <p><input id="queryTxtName" class="w3-input w3-padding-16" type="text" placeholder="Nombre" required name="Name"></p>
                    <p><input id="queryTxtMail" class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                    <p><input id="queryTxtSubject" class="w3-input w3-padding-16" type="text" placeholder="Asunto" required name="Subject"></p>
                    <p><input id="queryTxtMessage" class="w3-input w3-padding-16" type="text" placeholder="Mensaje" required name="Message"></p>
                    <p>
                        <button id="btnAddQuery" class="w3-button w3-black w3-padding-large" type="submit">
                            <i class="fa fa-paper-plane"></i> Enviar Mensaje
                        </button>
                    </p>
                </form>
            }
            <div id="queryLblMessage"></div>
            <div id="loading">
                <img src="~/Images/loader.gif" />
            </div>
            <!-- End Contact Section -->
        </div>
    </section>


</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnAddQuery').on("click", function () {
                var queryName = $('#queryTxtName').val();
                if (queryName == "") {
                    $('#queryLblMessage').html('Debe ingresar un nombre...');
                    return false;
                }
                var queryMail = $('#queryTxtMail').val();
                if (queryMail == "") {
                    $('#queryLblMessage').html('Debe ingresar un E-Mail...');
                    return false;
                }
                var querySubject = $('#queryTxtSubject').val();
                if (querySubject == "") {
                    $('#queryLblMessage').html('Debe ingresar un asunto...');
                    return false;
                }
                var queryMessage = $('#queryTxtMessage').val();
                if (queryMessage == "") {
                    $('#queryLblMessage').html('Debe ingresar un mensaje...');
                    return false;
                }

                var query = new Object();
                query.Date = "2000-01-01T00:00:00";
                query.Name = $('#queryTxtName').val();
                query.Email = $('#queryTxtMail').val();
                query.Subject = $('#queryTxtSubject').val();
                query.Message = $('#queryTxtMessage').val();

                $.ajax({
                    type: 'POST',
                    url: 'api/QueriesAPI',
                    data: query,
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        var outPut = '';
                        outPut += '<hr/>Mensaje enviado<br/>';
                        outPut += '<b>Fecha Consulta: <b/>' + query.Date + '<br/>';
                        outPut += '<b>Nombre: <b/>' + query.Name + '<br/>';
                        outPut += '<b>Email: <b/>' + query.Email + '<br/>';
                        outPut += '<b>Asunto Consulta: <b/>' + query.Subject + '<br/>';
                        outPut += '<b>Mensaje Consulta: <b/>' + query.Message + '<br/>';
                        $('#queryLblMessage').html(outPut);
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#queryLblMessage').html('Error!');
                    }
                });
                return false;
            });

            $('#btnAddVoluntary').on("click", function () {
                var volutaryName = $('#volutaryName').val();
                if (volutaryName == "") {
                    $('#volutaryLblMessage').html('Debe ingresar un nombre...');
                    return false;
                }
                var volutaryEmail = $('#volutaryEmail').val();
                if (volutaryEmail == "") {
                    $('#volutaryLblMessage').html('Debe ingresar un E-Mail...');
                    return false;
                }
                var volutaryPhone = $('#volutaryPhone').val();
                if (volutaryPhone == "") {
                    $('#volutaryLblMessage').html('Debe ingresar un telefono...');
                    return false;
                }
                var volutaryMessage = $('#volutaryMessage').val();
                if (volutaryMessage == "") {
                    $('#volutaryLblMessage').html('Debe ingresar un mensaje...');
                    return false;
                }

                var voluntary = new Object();
                voluntary.Date = "2000-01-01T00:00:00";
                voluntary.Name = $('#volutaryName').val();
                voluntary.Email = $('#volutaryEmail').val();
                voluntary.Phone = $('#volutaryPhone').val();
                voluntary.Message = $('#volutaryMessage').val();

                $.ajax({
                    type: 'POST',
                    url: 'api/VoluntariesAPI',
                    data: voluntary,
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        var outPut = '';
                        outPut += '<hr/>Mensaje enviado<br/>';
                        outPut += '<b>Fecha: <b/>' + voluntary.Date + '<br/>';
                        outPut += '<b>Nombre: <b/>' + voluntary.Name + '<br/>';
                        outPut += '<b>Email: <b/>' + voluntary.Email + '<br/>';
                        outPut += '<b>Telefono: <b/>' + voluntary.Phone + '<br/>';
                        outPut += '<b>Mensaje: <b/>' + voluntary.Message + '<br/>';
                        $('#volutaryLblMessage').html(outPut);
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#volutaryLblMessage').html('Error!');
                    }
                });
                return false;
            });

            $('#btnAddDonation').on("click", function () {
                var donationName = $('#donationName').val();
                if (donationName == "") {
                    $('#donationLblMessage').html('Debe ingresar un nombre...');
                    return false;
                }
                var donationEmail = $('#donationEmail').val();
                if (donationEmail == "") {
                    $('#donationLblMessage').html('Debe ingresar un E-Mail...');
                    return false;
                }
                var donationAmount = $('#donationAmount').val();
                if (donationAmount == "") {
                    $('#donationLblMessage').html('Debe ingresar un monto...');
                    return false;
                }
                var donationMessage = $('#donationMessage').val();
                if (donationMessage == "") {
                    $('#donationLblMessage').html('Debe ingresar un mensaje...');
                    return false;
                }

                var donation = new Object();
                donation.Date = "2000-01-01T00:00:00";
                donation.Name = $('#donationName').val();
                donation.Email = $('#donationEmail').val();
                donation.Amount = $('#donationAmount').val();
                donation.Message = $('#donationMessage').val();

                $.ajax({
                    type: 'POST',
                    url: 'api/DonationsAPI',
                    data: donation,
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        var outPut = '';
                        outPut += '<hr/>Mensaje enviado<br/>';
                        outPut += '<b>Fecha: <b/>' + donation.Date + '<br/>';
                        outPut += '<b>Nombre: <b/>' + donation.Name + '<br/>';
                        outPut += '<b>Email: <b/>' + donation.Email + '<br/>';
                        outPut += '<b>Monto: <b/>' + donation.Subject + '<br/>';
                        outPut += '<b>Mensaje: <b/>' + donation.Message + '<br/>';
                        $('#donationLblMessage').html(outPut);
                    },
                    error: function (hxr, ajaxOptions, throwError) {
                        $('#donationLblMessage').html('Error!');
                    }
                });
                return false;
            });
            //$(document).ajaxStart(function () {
            //    $("#loading").show();
            //});
            //$(document).ajaxStop(function () {
            //    $("#loading").hide();
            //});
        });
    </script>
}

<style type="text/css">
    #loading {
        display: none;
        background-color: grey;
        z-index: 999999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity=75);
        -khtml-opacity: 0.75;
        -moz-opacity: 0.75;
        opacity: 0.75;
    }
</style>
