@model IEnumerable<WebNoVi.Models.Tool>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Herramientas</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Agregar Herramienta", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td>

                        @Html.ActionLink("Editar", "Edit", new { id = item.ToolId }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ToolId })
                    </td>
                }
            </tr>
        }

    </table>
